<div class="alerts">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %> <span>X</span>
    </div>
  <% elsif flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %> <span>X</span>
  </div>
  <% end %>
</div>
